* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #bada55;
}
.content {
  display: grid;
  height: 100%;
  background-color: #badaff;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: start;
  gap: 2rem;
}